p {
  color: rgb(190, 188, 188);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 60px;
  background-color: #dddddd;
  padding: 20px 5px;
  // color: rgb(56, 32, 32);
  text-decoration: none;
}
li a:hover {
  background-color: #000;
  color: white;
}

.navbar {
  width: 10%;
  background-color: #555;
  overflow: hidden;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  // font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
