<!-- <p> product-list works! </p> -->
<!-- product list grid-container -->

<div class="grid-container">
  <div class="grid-item">
    <div class="grid-item-icon svg-container">
      <!-- <img src="assets/images/image1.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">Bond Street By Red Tape Remixa Sneakers</div>
      <div class="item-txt">Men Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 5400</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon">
      <!-- <img src="assets/images/image2.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">Puma</div>
      <div class="item-txt">Men Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 6499</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon">
      <!-- <img src="assets/images/image3.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">VeroModa</div>
      <div class="item-txt">Women Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 2734</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon">
      <!-- <img src="assets/images/image4.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">Carnatia Running Shoes For Women</div>
      <div class="item-txt">Women Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 3734</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon">
      <!-- <img src="assets/images/image5.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">Women Black Solid Tight</div>
      <div class="item-txt">Women Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 5467</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon">
      <!-- <img src="assets/images/image6.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">WROGN</div>
      <div class="item-txt">Women Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 5467</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon">
      <!-- <img src="assets/images/image7.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">ADIDAS</div>
      <div class="item-txt">Women Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 3734</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon">
      <!-- <img src="assets/images/image8.svg" /> -->
    </div>
    <div class="grid-item-details">
      <div class="item-lbl">Mast & Harbour</div>
      <div class="item-txt">Women Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 3734</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
</div>
