<!-- <p>shopping-cart works!</p> -->
<!-- main container for shopping-cart  -->
<!-- two sections - filter/sort and product list container  -->
<div class="row">
  <div class="column">
    <app-filters></app-filters>
  </div>
  <div class="column">
    <app-product-list></app-product-list>
  </div>
</div>

<!-- 
<div class="grid-container">
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image1.svg" /></div>
    <div class="grid-item-details">
      <div class="item-lbl">Bond Street By Red Tape Remixa Sneakers</div>
      <div class="item-txt">Men Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 5400</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image2.svg" /></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image3.svg" /></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image4.svg" /></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image3.svg" /></div>
    <div class="grid-item-details">
      <div class="item-lbl">Bond Street By Red Tape Remixa Sneakers</div>
      <div class="item-txt">Men Crater Renmixa Sneakers</div>
      <div class="item-price">Rs. 5400</div>
    </div>
    <div class="grid-item-btn button">Add to Cart</div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image3.svg" /></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image3.svg" /></div>
  </div>
  <div class="grid-item">
    <div class="grid-item-icon"><img src="assets/images/image3.svg" /></div>
  </div>
</div> -->
