// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// theme colors
$main-colors: #05497e;
$main-color: #11255f;
$secondary: #eaf0f0;
$theme-default: #f1f0f0;
$theme-overlay: rgba(37, 69, 146, 0.5);
$menu-dark: #11255f;
$menu-light: #eaeff3;

$btn-primary: #3f51b5;
$btn-submit: #1abc9c;
$btn-default: #f1f0f0;
